@import "tailwindcss";

body {
  background-image: url('/ai-nuclear-energy-future-innovation-disruptive-technology.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
